<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">First Name:</label>
      <input id="firstName" formControlName="firstName">
    </div>
    <div>
      <label for="lastName">Last Name:</label>
      <input id="lastName" formControlName="lastName">
    </div>
    <div>
      <label for="country">Country:</label>
      <input id="country" formControlName="country">
    </div>
    <div>
      <label for="phoneNumber">Phone Number:</label>
      <input id="phoneNumber" formControlName="phoneNumber">
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email">
    </div>
    <button type="submit">Add Customer</button>
  </form>