.dashboard-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
  background-color: #ffffff;
  color: white;
  font-family: Arial, sans-serif;
}

.section {
  background-color: #2e2e2e;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
  margin-top: 0;
  color: #ffffff;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
  padding: 8px;
  margin-right: 4px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 4px 0;
  border-radius: 4px;
  border: none;
  color: #333;
}

button {
  padding: 8px 16px;
  background-color: #004cbf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #004cbf;
}

.currency-converter .converter-input,
.currency-converter .converter-output {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.currency-converter select,
.currency-converter input {
  margin-right: 8px;
}

.currency-converter p {
  font-size: 12px;
  color: #888;
}


.no-style-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.no-style-link:hover {
  text-decoration: underline;
}