<div class="main">
  <!-- <table>
    <thead>
      <th>Name</th>
      <th>Last Name</th>
      <th>Country</th>
      <th>Phone Number</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.country}}</td>
        <td>{{customer.phoneNumber}}</td>
        <td>{{customer.email}}</td>
      </tr>
    </tbody>
  </table> -->

  <h1>Картки</h1>
  <div class="cards-container">
    <div class="card">
      <img src="photo.png" alt="Універсальна картка" class="card-image">
      <h2>Універсальна</h2>
      <ul>
        <li>Кредитний ліміт до 200 тис. грн та до 55 днів без відсотків</li>
        <li>Персональні кешбеки в програмі лояльності «Привіт»</li>
        <li>«Оплата частинами» та «Миттєва розстрочка»: купуйте зараз – платіть потім</li>
      </ul>
      <button class="open-button">Відкрити</button>
      <button class="details-button">Детальніше</button>
    </div>
  
    <div class="card">
      <img src="photo.png" alt="Картка для виплат" class="card-image">
      <h2>Для виплат</h2>
      <ul>
        <li>Для вашої зарплати, пенсії чи стипендії</li>
        <li>Оформимо за 15 хв.</li>
        <li>Зняття готівки без комісії в банкоматі, що точно є поблизу вас</li>
      </ul>
      <button class="open-button">Відкрити</button>
      <button class="details-button">Детальніше</button>
    </div>
  
    <div class="card">
      <img src="photo.png" alt="Картка Юніора" class="card-image">
      <h2>Юніорам</h2>
      <ul>
        <li>Доросла картка для наймолодших клієнтів</li>
        <li>Самостійне оформлення з 14 років</li>
        <li>Сервіс «Зробив – заробив». Грошова винагорода від батьків за виконані завдання</li>
      </ul>
      <button class="open-button">Замовити</button>
      <button class="details-button">Детальніше</button>
    </div>
  </div>
  
</div>