/* Container for the cards */
.card-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  color: #e5e7eb;
}

.card-container h2 {
  color: #a3b1c2;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 20px;
}

/* Styling for the list of cards */
.card-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Each card styling */
.card-container li {
  cursor: pointer;
  transition: transform 0.2s;
}

.card-container li:hover {
  transform: scale(1.05);
}

.card {
  width: 300px;
  height: 180px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.card h3 {
  margin: 0;
  font-size: 1.2em;
  color: #e5e7eb;
}

.card p {
  margin: 5px 0;
  font-size: 1em;
  color: #e5e7eb;
  font-weight: 400;
}

ul{
  margin-top: 50px;
  margin-bottom: 100px;
}
