.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .card h3{
    color: #ccc;
  }

  .card p{
    color: #ccc;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
    min-height: 185px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .card-name {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .card-number, .card-expiry, .card-balance {
    display: block;
    margin-top: 5px;
    font-size: 14px;
  }
  