<div *ngIf="account" class="container">
    <div class="sidebar">
      <h2>Картки</h2>
      <ul>
        <li *ngFor="let card of account.cards" (click)="selectCard(card)">
          <div class="card" [style.background-image]="'url(photo.png)'">
            <h3>{{ card.cardName }}</h3>
            <p>{{ card.numberCard }}</p>
            <p>{{ card.balance | number }} UAH</p>
          </div>
        </li>
      </ul>
    </div>
  
    <div class="details" *ngIf="selectedCard">
      <h2>{{ selectedCard.cardName }}</h2>
      <p>Номер картки: {{ selectedCard.numberCard }}</p>
      <p>Баланс: {{ selectedCard.balance | number }} UAH</p>
      <p>Дата закінчення: {{ selectedCard.expiryDate | date: 'MM/yy' }}</p>
      <p>CVV: {{ selectedCard.cvv }}</p>
    </div>
  </div>
  