<div *ngIf="account" class="container">
    <div class="sidebar">
      <h2>Картки</h2>
      <ul>
        <li *ngFor="let card of cardsArray" (click)="selectCard(card)">
          <div class="card" [style.background-image]="'url(photo.png)'">
            <h3>{{ card.cardName }}</h3>
            <p>{{ card.numberCard }}</p>
            <p>{{ card.balance | number }} UAH</p>
          </div>
        </li>
      </ul>
      <div class="add-card-div">
        <button class="add-card-button">add a card</button>
      </div>
    </div>
  
    <div class="details" *ngIf="selectedCard">
      <h2>{{ selectedCard.cardName }}</h2>
      <p>Номер картки: {{ selectedCard.numberCard }}</p>
      <p>Баланс: {{ selectedCard.balance | number }} UAH</p>
      <p>Дата закінчення: {{ selectedCard.Data | date: 'MM/yy' }}</p>
      <p>CVV: {{ selectedCard.cvv }}</p>


      <div class="card-controls">
        <div class="icon" (click)="sendTransaction()">
          <img [style.background-image]="'url(photo.png)'" alt="Копіювати" width="24" height="24" /> 
          <p>Копіювати</p>
            <p>Копіювати</p>
        </div>
        <div class="icon" (click)="sendTransaction()">
            <i class="fas fa-exchange-alt"></i>
            <p>Переказ</p>
        </div>
        <div class="icon" (click)="sendTransaction()">
            <i class="fas fa-cog"></i>
            <p>Управління</p>
        </div>
    </div>

      <h3>Транзакції</h3>
    <div class="transactions">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>sum</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.sum | number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  