<div *ngIf="account" class="container">
    <div class="sidebar">
      <h2>Картки</h2>
      <ul>
        <li *ngFor="let card of cardsArray" (click)="selectCard(card)">
          <div class="card" [ngStyle]="{'background-image': getCardBackground(card.cardName)}">
            <h3>{{ card.cardName }}</h3>
            <p>{{ card.numberCard }}</p>
            <p>{{ card.balance | number }} {{card.currencyCode}} </p>
          </div>
        </li>
      </ul>
      <div class="add-card-div">
        <button class="add-card-button" (click)="addCard()">add a card</button>
      </div>
    </div>
  
    <div class="details" *ngIf="selectedCard">
      <h2>{{ selectedCard.cardName }}</h2>
      <p>Card Number: {{ selectedCard.numberCard }}</p>
      <p>Balance: {{ selectedCard.balance | number }} UAH</p>
      <p>Expiration date: {{ selectedCard.expirationDate | date: 'dd/MM/yyyy' }}</p>
      <p>CVV: {{ selectedCard.cvv }}</p>


      <div class="card-controls">
        <div class="icon" (click)="sendTransaction()">
          <img src="copy-svgrepo-com.svg" alt="Копіювати" width="24" height="24" /> 
            <p>Copy</p>
        </div>
        <div class="icon" (click)="sendTransaction()">
          <img src="money-transfer-svgrepo-com.svg" alt="Перевести гроші" width="32" height="32" />
            <p>Make transaction</p>
        </div>
        <div class="icon" (click)="sendTransaction()">
          <img src="loan-svgrepo-com.svg" alt="Settings" width="32" height="32" />
            <p>Credit</p>
        </div>
        <div class="icon" (click)="sendTransaction()">
          <img src="settings-svgrepo-com.svg" alt="Settings" width="24" height="24" />
            <p>Settings</p>
        </div>
    </div>

      <h3>Transactions</h3>
    <div class="transactions">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Sum</th>
            <th>Transaction date</th>
            <th>Card sender id</th>
            <th>Card receiver id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.sum | number}}</td>
            <td>{{ transaction.transactionDate }}</td>
            <td>{{ transaction.cardSender.numberCard }}</td>
            <td>{{ transaction.cardReceiver.numberCard }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  