.container {
    display: flex;
    height: 100vh;
    background-color: #222; /* Додаємо фон для кращого контрасту */
  }
  
  .sidebar {
    width: 320px;
    background-color: #333;
    color: white;
    padding: 10px;
    overflow-y: auto;
  }
  
  .sidebar h2 {
    text-align: center;
    margin-bottom: 20px; /* Додаємо відступ знизу для кращого вигляду */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .card {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
    min-height: 185px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: transform 0.2s; /* Додаємо анімацію при наведенні */
  }
  
  .card:hover {
    transform: scale(1.05); /* Збільшуємо картку при наведенні */
  }
  
  .card-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
  }
  
  .details {
    flex-grow: 1;
    background-color: #444;
    color: white;
    padding: 20px;
    overflow-y: auto;
  }
  
  .details h2 {
    margin-top: 0;
  }
  
  .transactions {
    margin-top: 20px;
  }
  
  .transactions table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transactions th, .transactions td {
    padding: 10px;
    border: 1px solid #555; /* Змінюємо колір бордюру для кращого контрасту */
    text-align: left;
  }
  
  .transactions th {
    background-color: #555; /* Темніший фон для заголовків таблиці */
  }
  
  .transactions td {
    background-color: #666; /* Змінюємо фон для рядків таблиці */
  }
  
  .transactions td.negative {
    color: red;
  }
  